
body {
    background-color: #1e1e1e;
    padding-top: 60px;
    color: #eeeeee;
}

.tablesorter-headerUnSorted {
    background-image: url('/static/img/icons-sort-32.png');
    background-repeat: no-repeat;
    background-position: center right;
}

.tablesorter-headerAsc {
    background-image: url('/static/img/icons-sort-up-32.png');
    background-repeat: no-repeat;
    background-position: center right;
    border-bottom: #fff 3px solid;
}

.tablesorter-headerDesc {
    background-image: url('/static/img/icons-sort-down-32.png');
    background-repeat: no-repeat;
    background-position: center right;
    border-bottom: #fff 3px solid;
}

h2 {
    padding: 0.2rem 0;
    margin-bottom: 1.0rem;
    background-image: linear-gradient(90deg, #00a497 0 10%, #dedede 10%);
    background-repeat: no-repeat;
    background-size: 100% 5%;
    background-position: bottom;
}