<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shuggle</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/shuggle.css')}}">
    
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>

        <script>
            $(document).ready(function() {
                $('#fav-table').tablesorter();
            });

            var current_timestamp = ""
            window.addEventListener('DOMContentLoaded', function(){
                // 1秒ごとに実行
                setInterval(() => {
                    var request = new XMLHttpRequest()
                    request.open("GET", "/timestamp", true);
                    request.onreadystatechange = function() {
                        if (request.readyState == 4 && request.status == 200) {
                            //受信完了時の処理
                            var timestamp = document.createTextNode(decodeURI(request.responseText));

                            if (current_timestamp == "") {
                                current_timestamp = timestamp;
                            } else {
                                if (current_timestamp.data != timestamp.data) {
                                    console.log("reload()");
                                    location.reload()
                                }
                            }
                        }
                    }
                    request.send("");
                }, 1000);
            });
        </script>
    </head>
    <body>
        {{menu}}

        <div class="container col-11">
            <h1>評価結果一覧</h1>
        </div>

        <div class="container col-11">
            {{inproc_text}}
        </div>

        <div class="container col-11">
            {{table_board}}
        </div>

        <script src="static/js/bootstrap.js"></script>
</html>
