<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shuggle</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/shuggle.css')}}">
    
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>

        <script>
            $(document).ready(function() {
                $('#fav-table').tablesorter();
            });
        </script>
    </head>
    <body>
        {{menu}}

        <div class="container col-11">
            <h1>評価結果一覧</h1>
        </div>

        <div class="container col-11">
            {{table_board}}
        </div>

        <script src="static/js/bootstrap.js"></script>
</html>
