<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shuggle</title>
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/shuggle.css')}}" rel="stylesheet">
    </head>
    <body>
        {{menu}}

        <div class="container col-11">
            <h1>結果一覧</h1>
        </div>

        <div class="container col-11">
            {{table_board}}
        </div>

        <script src="static/js/bootstrap.js"></script>
    </body>
</html>
