<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IR Tasks | Join</title>
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/shuggle.css')}}" rel="stylesheet">

        <script>
        </script>
    
    </head>
    <body>
        <div class="container col-11">
            <h1><a class="navbar-brand" href="/">IR <span style="color:#00a497">T</span>asks</a></h1>
        </div>

        <br>

        <div class="container col-4">
            <h1 class="h3 mb-3 font-weight-normal">アカウントを作成してログイン</h1>
            <h2 class="h5 mb-3 font-weight-normal">ログインすると提出できるようになります。</h2>
            {% if message != "" %}
                {{message}}<br><br>
            {% endif  %}
            <form class="form-signin" method="POST">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" name="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <br>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="inputPassword" class="form-control" placeholder="Password" maxlength="18" pattern="^[\-\._0-9A-Za-z]+$" required>
                <label for="inputPasswordVerify" class="sr-only">Password(もう一度)</label>
                <input type="password" name="inputPasswordVerify" class="form-control" placeholder="Password" maxlength="18" pattern="^[\-\._0-9A-Za-z]+$" required>
                <br>
                使える文字：半角英数、記号「_.-」<br>
                <input type="hidden" name="nextUrl" value="{{from_url}}">
                <input type="submit" value="Create Account" class="btn btn-lg btn-outline-info btn-block" id="buttonSignin" style="margin-top:1rem;">
            </form>
        </div>

        <br>

        <div class="container col-4">
        </div>

        <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
    </body>
</html>
