<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IR Tasks | {{filename}}</title>
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/shuggle.css')}}" rel="stylesheet">
    
    </head>
    <body>
        <div class="container col-11">
            <h1><a class="navbar-brand" href="/">IR <span style="color:#00a497">T</span>asks</a></h1>
        </div>

        <br>

        <div class="container col-11">
            <h2>{{filename}}</h2>
        </div>

        <div class="container col-11">
            <pre><code>{{source}}</code></pre>
        </div>

        <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
    </body>
</html>
