<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IR Tasks | {{ task_name }}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/shuggle.css')}}">

        <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.7.1.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery.tablesorter.min.js')}}"></script>

        <script>
            $(document).ready(function() {
                div_user_name = document.getElementById('user-name');
                user_select = document.getElementById('user-select');
                input_user_id = document.getElementById('input-user-id');
                input_user_key = document.getElementById('input-user-key');

                // ユーザ情報が保存されていたら取得
                var user_id = localStorage.getItem("user_id");
                var user_key = localStorage.getItem("user_key");
                var user_name = localStorage.getItem("user_name");

                // ユーザ情報がなければログイン画面へ
                if (user_id == null || user_name == null || user_key == null ||
                    user_id == "" || user_name == "" || user_key == ""){
                    console.log("user data not found")
                    window.location.href = "/login?from=" + "{{url_from}}";
                }

                // ユーザ情報を照合
                var request = new XMLHttpRequest()
                request.open("GET", "/verify/" + user_id + "/" + user_key, true);
                request.onreadystatechange = function() {
                    if (request.readyState == 4 && request.status == 200) {
                        //受信完了時の処理
                        var verify = document.createTextNode(decodeURI(request.responseText));
                        if (verify.data == "true") {
                            // 照合に成功したらユーザ名を表示
                            div_user_name.textContent = user_name;
                            input_user_id.value = user_id;
                            input_user_key.value = user_key;
                        } else {
                            // 照合に失敗したらログイン画面へ
                            window.location.href = "/login?from=" + "{{url_from}}";
                        }
                    }
                }
                request.send("");                
            });
        </script>
    
    </head>
    <body>
        {{menu}}

        <div class="container col-11">
            <h1>処理モジュール(*.py)の提出 | {{ task_name }}</h1>
        </div>

        <br>

        <div class="container col-11">
            <h2>A. 提出</h2>
        </div>

        <div class="container col-11">
            <form action="" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="user_id" value="" id="input-user-id">
                <input type="hidden" name="user_key" value="" id="input-user-key">
                <div class="row">
                    <div class="col-12">
                        <h5>アップロードする.pyファイルを 選択/ドラッグ&ドロップ してアップロードボタンをクリックしてください：</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 d-flex align-items-end text-right justify-content-end d-flex align-items-center">
                        ユーザ名
                    </div>
                    <div class="col-10" id="user-name" style="font-size:1.8rem;">
                        <!-- ユーザ名を表示する -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 d-flex align-items-end text-right justify-content-end d-flex align-items-center">
                        ファイル選択
                    </div>
                    <div class="col-10">
                        <input type="file" name="file" class="w-100 p-3 form-control-lg"><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 d-flex align-items-end text-right justify-content-end d-flex align-items-center">
                        メモ(20文字まで)<br>公開されます
                    </div>
                    <div class="col-8">
                        <input type="text" name="memo" maxlength="20" class="w-100 p-1">
                    </div>
                    <div class="col-2">
                        <input type="submit" value="アップロード" class="w-100 p-2 form-control-lg btn btn-outline-info">
                    </div>
                </div>
            </form>
        </div>
        
        <br>

        <div class="container col-11" style="font-size:1.5rem;">
            {{message}}
        </div>
        
        <br><br>

        <div class="container col-11">
            <h2>B. 提出するモジュールのルール</h2>
            <h3>ファイルについて</h3>
            <ul>
                <li>ファイルサイズの上限は2MBです。</li>
                <li>ファイル名は任意です。拡張子は.pyとしてください。（例えば hoge.py でもmy_proc.pyでもOK）</li>
                <li>関数 recognition を含んでください。入力データを引数で受け取り、タスクごとに指定された型を返す関数です。</li>
                <ul>
                    <li><a href="/{{task_id}}/task">タスク説明</a>でダウンロードできる基本パックに、関数 recognition を含むサンプルコードが入っています。サンプルコードに処理を追記してアップロードするのがおすすめです。</li>
                    <li>入力データinput_dataを受け取り、int型を返す場合の関数宣言「def recognition(input_data) -> int:」</li>
                </ul>
            </ul>
            <h3>実装する処理について</h3>
            <ul>
                <li>1データに対する処理の制限時間は1秒です。制限時間を超えるとタイムアウトして評価がされません。</li>
                <li>使用可能なpythonライブラリに限りがあります。以下が一覧です。追加希望があればご連絡ください。</li>
                <ul>
                    <li>NumPy</li>
                    <li>OpenCV</li>
                    <li>Pillow(PIL)</li>
                </ul>
            </ul>
            <h3>禁止事項</h3>
            <ul>
                <li>セキュリティに関わる行為</li>
                <ul>
                    <li>サーバ上のファイルへのアクセスを試みることは禁止です。</li>
                    <li>関数外のメモリへのアクセスを試みることは禁止です。</li>
                </ul>
                <li>公序良俗に反する行為</li>
                <ul>
                    <li>提出時メモは公開されます。</li>
                    <li>提出したファイルは公開される可能性があります。</li>
                </ul>
            </ul>

        </div>

        <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/user.js')}}"></script>
    </body>
</html>
