<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shuggle | {{ task_name }}</title>
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/shuggle.css')}}" rel="stylesheet">

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>

        <script>
            // ユーザを選択したときに選択を保存してページ読み込み時に復元
            var key_user_select = "user_select"
            var user_select = null;

            $(document).ready(function() {
                user_select = document.getElementById('user-select');
                user_select.onchange = selectChange;

                var local_storage_user_select = localStorage.getItem(key_user_select);
                if (local_storage_user_select != null) {
                    user_select.value = local_storage_user_select;
                }
            });

            function selectChange() {
                localStorage.setItem(key_user_select, user_select.value);
            }
        </script>
    
    </head>
    <body>
        {{menu}}

        <div class="container col-11">
            <h1>処理モジュール(*.py)の提出 | {{ task_name }}</h1>
        </div>

        <br>

        <div class="container col-11">
            <h2>A. 提出</h2>
        </div>

        <div class="container col-11">
            <form action="" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-12">
                        <h5>1. ユーザ名を選択してください（匿名希望の方はanonymousを選択）：</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 d-flex align-items-end text-right justify-content-end d-flex align-items-center">
                        ユーザ選択
                    </div>
                    <div class="col-10">
                        <select name="user" class="form-control-lg" id="user-select">
                            {% for username in username %}
                                <option value="{{ username }}">{{ username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-12">
                        <h5>2. アップロードする.pyファイルを選択してアップロードボタンをクリックしてください：</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 d-flex align-items-end text-right justify-content-end d-flex align-items-center">
                        ファイル選択
                    </div>
                    <div class="col-10">
                        <input type="file" name="file" class="w-100 p-3 form-control-lg"><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 d-flex align-items-end text-right justify-content-end d-flex align-items-center">
                        メモ(20文字まで)<br>公開されます
                    </div>
                    <div class="col-8">
                        <input type="text" name="memo" maxlength="20" class="w-100 p-1">
                    </div>
                    <div class="col-2">
                        <input type="submit" value="アップロード" class="w-100 p-2 form-control-lg btn btn-outline-info">
                    </div>
                </div>
            </form>
        </div>
        
        <br>

        <div class="container col-11">
            {{message}}
        </div>
        
        <br><br>

        <div class="container col-11">
            <h2>B. 提出するモジュールのルール</h2>
            <h3>ファイルについて</h3>
            <ul>
                <li>ファイルサイズの上限は2MBです。</li>
                <li>ファイル名は任意です。拡張子は.pyとしてください。（例えば hoge.py でもmy_proc.pyでもOK）</li>
                <li>関数 recognition を含んでください。入力データを引数で受け取り、タスクごとに指定された型を返す関数です。</li>
                <ul>
                    <li><a href="/{{task_id}}/task">タスク説明</a>でダウンロードできる基本パックに、関数 recognition を含むサンプルコードが入っています。サンプルコードに処理を追記してアップロードするのがおすすめです。</li>
                    <li>入力データinput_dataを受け取り、int型を返す場合の関数宣言「def recognition(input_data) -> int:」</li>
                </ul>
            </ul>
            <h3>実装する処理について</h3>
            <ul>
                <li>1データに対する処理の制限時間は1秒です。制限時間を超えるとタイムアウトして評価がされません。</li>
                <li>使用可能なpythonライブラリに限りがあります。以下が一覧です。追加希望があればご連絡ください。</li>
                <ul>
                    <li>NumPy</li>
                    <li>OpenCV</li>
                    <li>Pillow(PIL)</li>
                </ul>
            </ul>
            <h3>禁止事項</h3>
            <ul>
                <li>セキュリティに関わる行為</li>
                <ul>
                    <li>サーバ上のファイルへのアクセスを試みることは禁止です。</li>
                    <li>関数外のメモリへのアクセスを試みることは禁止です。</li>
                </ul>
                <li>公序良俗に反する行為</li>
                <ul>
                    <li>提出時メモは公開されます。</li>
                    <li>提出したファイルは公開される可能性があります。</li>
                </ul>
            </ul>

        </div>

        <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
    </body>
</html>
