<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IR Tasks | User</title>
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/shuggle.css')}}" rel="stylesheet">

        <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.7.1.min.js')}}"></script>

        <script>
            $(document).ready(function() {
                var user_id = "{{user_id}}";
                var user_name = "{{user_name}}";
                var user_key = "{{user_key}}";
                var user_email = "{{user_email}}";
                var next_url = "{{next_url}}";
                var login = "{{login}}";
                var update_user_data = "{{update_user_data}}";
                var url_from = "{{from_url}}";
                
                // ユーザ情報を保存
                if (update_user_data == "true") {
                    if (user_id != "") {
                        localStorage.setItem('user_id', user_id);
                    }
                    if (user_key != "") {
                        localStorage.setItem('user_key', user_key);
                    }
                    if (user_name != "") {
                        localStorage.setItem('user_name', user_name);
                    }
                    if (user_email != "") {
                        localStorage.setItem('user_email', user_email);
                    }
                }

                // ログインしてきたときは自動で飛ぶ
                if (login == "true") {
                    if (next_url != "") {
                        window.location.href = next_url;
                    }
                    else {
                        window.location.href = "/";
                    }                    
                    return;
                }

                // LocalStorageからデータ読み込み
                var user_id = localStorage.getItem("user_id");
                var user_name = localStorage.getItem("user_name");
                var user_key = localStorage.getItem("user_key");
                var user_email = localStorage.getItem("user_email");

                // データがなければログイン画面へ
                if (user_id == null || user_name == null || user_key == null || user_email == null ||
                    user_id == "" || user_name == "" || user_key == "" || user_email == "") {

                    url = "/login";
                    if (url_from != "") {
                        url += "?from=" + url_from;
                    }
                    window.location.href = url;
                    return;
                }

                // ユーザ情報を照合
                var request = new XMLHttpRequest();
                request.open("GET", "/verify/" + user_id + "/" + user_key, true);
                request.onreadystatechange = function() {
                    if (request.readyState == 4 && request.status == 200) {
                        //受信完了時の処理
                        var verify = document.createTextNode(decodeURI(request.responseText));
                        if (verify.data == "true") {
                            // 照合に成功したらユーザ名を表示
                            // document.getElementById('user-name').textContent = user_name;
                            // document.getElementById('user-info-name').textContent = user_name;
                            document.getElementById('user-info-email').textContent = user_email;
                            document.getElementById('input-user-id').value = user_id;
                            document.getElementById('input-user-key').value = user_key;
                            document.getElementById('input-pass-user-id').value = user_id;
                            document.getElementById('input-pass-user-key').value = user_key;
                        
                            // 提出タスクテーブルを挿入
                            var request_task_table = new XMLHttpRequest();
                            request_task_table.open("GET", "/my-task-table/" + user_id + "/" + user_key, true);
                            request_task_table.onreadystatechange = function() {
                                if (request_task_table.readyState == 4 && request_task_table.status == 200) {
                                    //受信完了時の処理
                                    var table_html = document.createTextNode(decodeURI(request_task_table.responseText));
                                    document.getElementById('task-table').appendChild(stringToHTML(table_html.data));
                                }
                            }
                            request_task_table.send("");

                            // 提出テーブルを挿入
                            var request_table = new XMLHttpRequest();
                            request_table.open("GET", "/submit-table/" + user_id + "/" + user_key, true);
                            request_table.onreadystatechange = function() {
                                if (request_table.readyState == 4 && request_table.status == 200) {
                                    //受信完了時の処理
                                    var table_html = document.createTextNode(decodeURI(request_table.responseText));
                                    document.getElementById('submit-table').appendChild(stringToHTML(table_html.data));
                                }
                            }
                            request_table.send("");

                        } else {
                            // 照合に失敗したらログイン画面へ
                            window.location.href = "/login";
                        }
                    }
                }
                request.send("");
            });

            function stringToHTML(str) {
                var dom = document.createElement('div');
                dom.innerHTML = str;
                return dom;
            }

            function logoutClick() {
                // ログアウトする→logoutページで処理
                window.location.href = "/logout";
            }

            function visibleChangeName() {
                div_change_name = document.getElementById('div-change-name');
                if (div_change_name.style.visibility == 'visible') {
                    div_change_name.style.visibility = 'hidden';
                } else {
                    div_change_name.style.visibility = 'visible';
                    div_change_password.style.visibility = 'hidden';
                }
            }
            
            function visibleChangePassword() {
                div_change_password = document.getElementById('div-change-password');
                if (div_change_password.style.visibility == 'visible') {
                    div_change_password.style.visibility = 'hidden';
                } else {
                    div_change_password.style.visibility = 'visible';
                    div_change_name.style.visibility = 'hidden';
                }
            }
        </script>
    
    </head>
    <body>
        <div class="container col-11">
            <h1><a class="navbar-brand" href="/">IR <span style="color:#00a497">T</span>asks</a></h1>
        </div>

        <br>

        <div class="container col-11">
            <div class="row">
                <h2>ようこそ <span id="user-name">{{user_name}}</span>{{achievement}} さん</h2>
            </div>
            {% if message != "" %}
            <div class="row">
                {{message}}
            </div>
            {% endif %}

            <!-- ユーザ情報表示 -->
            <div class="row">
                <div class="container col-2">
                    <button class="w-100 p-2 btn btn-outline-light" style="pointer-events: none;">Email address</button>
                </div>
                <div class="container col-10 d-flex align-items-center" id="user-info-email">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="container col-2">
                    <button class="w-100 p-2 btn btn-outline-light" style="pointer-events: none;">ユーザ名</button>
                </div>
                <div class="container col-10 d-flex align-items-center" id="user-info-name">
                    {{user_name}}
                </div>
            </div>
            <br>
            <br>
            
            
            <!-- Task一覧へのリンク -->
            <div class="row">
                <div class="container col-2">
                    <a href="/"><button id="btn-root" class="w-100 p-2 form-control-lg btn btn-outline-info">Task一覧へ</button></a>
                </div>
                <div class="container col-10">
                </div>
            </div>

            <br>

            <!-- ユーザ名変更 -->
            <div class="row">
                <div class="container col-2">
                    <button onclick="visibleChangeName()" id="btn-change-name" class="w-100 p-2 form-control-lg btn btn-outline-info">ユーザ名の変更</button>
                </div>
                <div class="container col-5">
                    <div id="div-change-name" style="visibility: hidden;">
                        <form method="POST">
                            <div class="input-group mb-3">
                                <input type="text" name="newName" maxlength="18" pattern="^[\-\._0-9A-Za-z]+$" class="form-control" placeholder="新しい表示ユーザ名" aria-describedby="button-addon2">
                                <input type="submit" name="buttonChangeName" value="変更" class="btn btn-outline-info" type="button" id="button-addon2">
                                <input type="hidden" name="userID" id="input-user-id" value="">
                                <input type="hidden" name="userKey" id="input-user-key" value="">
                            </div>
                        </form>
                        使える文字：半角英数、記号「_.-」
                    </div>
                </div>
                <div class="container col-5">
                </div>
            </div>

            <!-- パスワード変更 -->
            <div class="row">
                <div class="container col-2">
                    <button onclick="visibleChangePassword()" id="btn-change-password" class="w-100 p-2 form-control-lg btn btn-outline-info">パスワードの変更</button>
                </div>
                <div class="container col-5">
                    <div id="div-change-password" style="visibility: hidden;">
                        <form class="form-signin" method="POST">
                            <label for="inputPassword" class="sr-only">新しいPassword</label>
                            <input type="password" name="inputPassword" class="form-control" placeholder="Password" maxlength="18" pattern="^[\-\._0-9A-Za-z]+$" required>
                            <label for="inputPasswordVerify" class="sr-only">新しいPassword(もう一度)</label>
                            <input type="password" name="inputPasswordVerify" class="form-control" placeholder="Password" maxlength="18" pattern="^[\-\._0-9A-Za-z]+$" required>
                            使える文字：半角英数、記号「_.-」<br>
                            <input type="submit" name="buttonChangePassword" value="変更" class="btn btn-outline-info" type="button" style="margin-top:1rem;">
                            <input type="hidden" name="userID" id="input-pass-user-id" value="">
                            <input type="hidden" name="userKey" id="input-pass-user-key" value="">
                        </form>
                    </div>
                </div>
                <div class="container col-5">
                </div>
            </div>
            <div class="row">
                <div class="container col-10">
                </div>
                <div class="container col-2">
                    <button onclick="logoutClick()" id="btn-logout" class="w-100 p-2 form-control-lg btn btn-outline-secondary">ログアウト</button>
                </div>
            </div>
        </div>

        <br>

        <div class="container col-11">
            <h2>提出した<span style="color:#00a497">T</span>ask一覧</h2>
        </div>
        <div class="container col-11" id="task-table">
        </div>

        <div class="container col-11">
            <h2>これまでの提出一覧</h2>
        </div>
        <div class="container col-11" id="submit-table">
        </div>

        <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/user.js')}}"></script>
    </body>
</html>
