<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shuggle | User</title>
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/shuggle.css')}}" rel="stylesheet">

        <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.7.1.min.js')}}"></script>

        <script>
            $(document).ready(function() {
                var user_id = "{{user_id}}";
                var user_name = "{{user_name}}";
                var user_key = "{{user_key}}";
                var user_email = "{{user_email}}";
                var next_url = "{{next_url}}";
                var login = "{{login}}";
                var update_user_data = "{{update_user_data}}";
                
                // ユーザ情報を保存
                if (update_user_data == "true") {
                    if (user_id != "") {
                        localStorage.setItem('user_id', user_id);
                    }
                    if (user_key != "") {
                        localStorage.setItem('user_key', user_key);
                    }
                    if (user_name != "") {
                        localStorage.setItem('user_name', user_name);
                    }
                    if (user_email != "") {
                        localStorage.setItem('user_email', user_email);
                    }
                }

                // ログインしてきたときは自動で飛ぶ
                if (login == "true") {
                    if (next_url != "") {
                        window.location.href = next_url;
                    }
                    else {
                        window.location.href = "/";
                    }                    
                    return;
                }

                // LocalStorageからデータ読み込み
                var user_id = localStorage.getItem("user_id");
                var user_name = localStorage.getItem("user_name");
                var user_key = localStorage.getItem("user_key");

                // データがなければログイン画面へ
                if (user_id == null || user_name == null || user_key == null){
                    window.location.href = "/login";
                }

                // ユーザ情報を照合
                var request = new XMLHttpRequest()
                request.open("GET", "/verify/" + user_id + "/" + user_key, true);
                request.onreadystatechange = function() {
                    if (request.readyState == 4 && request.status == 200) {
                        //受信完了時の処理
                        var verify = document.createTextNode(decodeURI(request.responseText));
                        if (verify.data == "true") {
                            // 照合に成功したらユーザ名を表示
                            document.getElementById('user-name').textContent = user_name;
                            document.getElementById('input-user-id').value = user_id;
                            document.getElementById('input-user-key').value = user_key;
                        } else {
                            // 照合に失敗したらログイン画面へ
                            window.location.href = "/login";
                        }
                    }
                }
                request.send("");
            });

            function logoutClick() {
                // ログアウトする
                localStorage.setItem('user_id', "");
                localStorage.setItem('user_key', "");
                localStorage.setItem('user_name', "");
                localStorage.setItem('user_email', "");
                window.location.href = "/login";
            }

            function visibleChangeName() {
                div_change_name = document.getElementById('div-change-name');
                if (div_change_name.style.visibility == 'visible') {
                    div_change_name.style.visibility = 'hidden';
                } else {
                    div_change_name.style.visibility = 'visible';
                }
            }
        </script>
    
    </head>
    <body>
        <div class="container col-11">
            <h1><a class="navbar-brand" href="/"><span style="color:#00a497">S</span>huggle</a></h1>
        </div>

        <br>

        <div class="container col-11">
            <div class="row">
                <h2>ようこそ <span id="user-name">{{user_name}}</span> <span style="color:#00a497">さ</span>ん</h2>
            </div>
            <div class="row">
                <div class="container col-2">
                    <a href="/"><button id="btn-root" class="w-100 p-2 form-control-lg btn btn-outline-info">Task一覧へ</button></a>
                </div>
                <div class="container col-10">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="container col-2">
                    <button onclick="visibleChangeName()" id="btn-change-name" class="w-100 p-2 form-control-lg btn btn-outline-info">ユーザ名の変更</button>
                </div>
                <div class="container col-5">
                    <div id="div-change-name" style="visibility: hidden;">
                        <form method="POST">
                            <div class="input-group mb-3">
                                <input type="text" name="newName" maxlength="18" pattern="^[\-\._0-9A-Za-z]+$" class="form-control" placeholder="新しい表示ユーザ名" aria-describedby="button-addon2">
                                <input type="submit" value="変更" class="btn btn-outline-info" type="button" id="button-addon2">
                                <input type="hidden" name="userID" id="input-user-id" value="">
                                <input type="hidden" name="userKey" id="input-user-key" value="">
                            </div>
                        </form>
                        使える文字：半角英数、記号「_.-」
                    </div>
                </div>
                <div class="container col-5">
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="container col-10">
                </div>
                <div class="container col-2">
                    <button onclick="logoutClick()" id="btn-logout" class="w-100 p-2 form-control-lg btn btn-outline-secondary">ログアウト</button>
                </div>
            </div>
        </div>


        <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/user.js')}}"></script>
    </body>
</html>
